*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: auto;
}

#header {
    display: flex;
    background-color: black;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
}

#nav{
    height: inherit;
    display: flex;
    align-items: center;
}

a{
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.name{
    color: white;
}

main{
    height: 83.7vh;
}

.content{
    height: 70vh;
}

.footer{
    height: 100px;
}